@model Utilitarios.CustomerUser

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-xs-10">
        <a class="btn btn-sm btn-outline-info animate__animated animate__backInUp" asp-action="Details">
            <i class="fas fa-arrow-left"></i>
        </a>
        <form asp-action="ChangePassword" id="form1">
            <div class="card shadow animate__animated animate__backInDown">
                <div class="card-header">
                    <b class="text-muted d-block text-center">Cambiar contraseña</b>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label text-muted"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input type="hidden" id="passkey-hidden" value="@Model.PassKey" />
                    <div class="form-group">
                        <label class="control-label text-muted">Actual contraseña</label>
                        <input type="password" id="currentPassword" class="form-control" />
                        <span id="password-msg" class="d-none"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-muted">Nueva contraseña</label>
                        <input asp-for="PassKey" class="form-control" disabled />
                        <span asp-validation-for="PassKey" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-center d-none">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-10">
                            <input type="submit" value="Actualizar" class="btn btn-block btn-outline-info" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function (e) {

            $('#currentPassword').keyup(function (e) {
                if ($(this).val() == '') {
                    $('#password-msg').addClass('d-none');
                    return;
                }
                var passkey = $(this).val();
                var currentPassword = $('#passkey-hidden').val();
                $.ajax({
                    url: "@Url.Action("ComparePassword", "CustomerUsers")",
                    data: {
                        passkey,
                        currentPassword
                    },
                    type: 'get'
                }).done(function (response) {
                    let msgSpan = response ? 'Coinciden!' : 'Las contraseñas no coinciden';
                    let spanColor = response ? 'text-success' : 'text-danger';
                    $('#password-msg').removeClass('text-danger').removeClass('text-success');
                    $('#password-msg').addClass(spanColor).removeClass('d-none').html(msgSpan);
                    if (response) {
                        $('#PassKey').prop('disabled', false);
                        $('.card-footer').removeClass('d-none');
                    } else {
                        $('#PassKey').prop('disabled', true);
                        $('.card-footer').addClass('d-none');
                    }
                });
            });

            $('#form1').submit(function (e) {
            });
        });
    </script>
}
