@model Utilitarios.SpeedReportCustomer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string display = ViewData["foreignKeyError"] != null ? "d-none" : "";
}

<br />
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <a class="btn btn-sm btn-outline-info animate__animated animate__backInUp" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card shadow animate__animated animate__backInDown">
            <div class="card-header">
                <b class="text-muted d-block text-center">¿Estás seguro de eliminar este reporte?</b>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt class="text-muted">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                </dl>
            </div>
            <div class="card-footer @display">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-8">
                        <form asp-action="Delete" id="formDelete">
                            <input type="hidden" asp-for="Id" />
                        </form>
                        <input type="button" value="Eliminar" id="btn-eliminar" class="btn btn-block btn-outline-danger" />
                    </div>
                </div>
            </div>
        </div>
        @if (ViewData["foreignKeyError"] != null)
        {
            <div class="alert alert-warning animate__animated animate__backInUp" role="alert">
                <span>@ViewData["foreignKeyError"]</span>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#btn-eliminar').click(function (e) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "No podrás revertir los cambios",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        $('#formDelete').submit();
                    }
                })
            });
        });
    </script>
}