@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>No Autorizado</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/unauthorized.css" />

</head>

<body>

    <div id="unauthorized">
        <div class="unauthorized">
            <div class="unauthorized-401">
                <div></div>
                <h1>401</h1>
            </div>
            <h2>No Autorizado</h2>
            <p>Su usuario no está autorizado para esta sección, por favor contacte con su administrador.</p>
            <a href="/">Regresar</a>
        </div>
    </div>

</body>

</html>
